@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); 

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
}

.container {
    width: 95%;
    margin: auto;
}

header {
    background-image: url("../img/Banner_8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
    color: white;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.46);
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
}

.logo h3 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    line-height: 1;
    color: yellow;
}

.logo h3 span {
    font-weight: 400;
    -webkit-text-stroke: 0px;
    font-size: 18px;
    color: white;
}

nav {
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
    gap: 20px;
    /* align-items: center; */
}

/* nav ul li {
    list-style: none;
    margin: 0px 20px 0px 0px;
} */

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.banner {
    padding: 100px 0px;
    text-align: center;
    -webkit-text-stroke: 0px;
}

.banner span {
    display: inline-block;
    background-color: yellow;
    width: 249px;
    height: 5px;
    border-radius: 5px;
}

.banner h3 {
    font-size: 25px;
    font-style: italic;
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
}

.banner h1 {
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
}

.banner button {
    padding: 10px 25px;
    background-color: #ff000061;
    border: 0px;
    border-radius: 50px;
}

.banner button a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    -webkit-text-stroke: 1px black;
}

/* Upcomming Event  */

 .line {
    text-align: center;

 }
 .line h1{
    font-size: 25px;
    margin: 5px auto;
 }

 .line span {
    width: 205px;
    height: 7px;
    background-color: blue;
    display: inline-block;
    border-radius: 20px ;
    margin-bottom: 5px;
}
.event {
    display: flex;
    /* flex-wrap: wrap; */
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin: auto;
    /* margin-top: 10px; */
    padding: auto ;
    align-items: center;
    
}

.event-item{
    width: 50%;
    padding: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
   
     /* box-shadow: 2px 2px  2px ;
    border-radius: 15px ;  */
}
.event-item img{
    height: 450px;
    width: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
    /* padding-top: 13px; */
    box-shadow: 10px 10px 17px  rgb(80, 80, 80);
    border-radius: 15px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
   

}
.event-item h5{
    font-size: 15px;
    margin: 10px 0;
  
}

.event-item p{
    text-align: center;
}

.event-item a{
    text-decoration: none;
    color: white;
    display: inline-block;
    letter-spacing: 2px;
    margin-bottom: 20px;
    background-color: blue ;
    padding: 5px 10px;
    border-radius: 25px ;
}

/* <!-- Explore Section  --> */

.explore-world{
    background-image: url(../img/Banner_9.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgb(0 0 255 / 66%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 0;
    display: flex;
    color: white;
    margin: 20px 0 ;
}
.explore-item{
    width: 50%;
    padding-right: 50px;
}

.explore-item.hide{
    width: 0;
}

.explore-item h3{
    font-size: 60px;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
   

}
.explore-item span{
    width: 250px;
    height: 7px;
    background-color: white;
    display: inline-block;
    border-radius: 20px ;
    margin-bottom: 0;
    /* margin-top: 2px; */
}
.explore-item p{
    margin: 50px 0;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}
.explore-item a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
}
/* tour section */
.tourmain{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 95%;
    gap: 20px;
    
}

/* .tour-item .container{
    padding: 20px;
    width: 50%;
    
} */
.tour-item h4{
    font-size: 45px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
    text-transform: capitalize;
    margin: 0 0;

}
.tour-item p{
    margin: 40px 0;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
}
.tour-item span{
    width: 250px;
    height: 7px;
    background-color: rgb(132, 0, 255);
    display: inline-block;
    border-radius: 20px ;
    margin-bottom: 0;
}
.tour-item button{
    padding: 12px 30px ;
    border: 0;
    border-radius: 50px;
    background-color: blue;
    /* color: white; */
    /* font-size: 20px; */



}
.tour-item button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.tour-item img{
    
}

.img1{
height: 150px;
width: 100%;
object-fit: cover;
padding: 0 0 20px 0;
margin: auto;
/* border-radius: 20px; */

}
.img2{
height: 450px;
width: 100%;
object-fit: cover;
padding: 0 0 20px 0;
margin: auto;
/* border-radius: 20px 20px; */
}


/* Footer Section */
footer{
    /* background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px; */
    
    /* padding: 5px 20px; */
    margin-bottom: 5px;
}
.footer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 30px;
    align-items: center;
    padding: 20px 0 20px 20px;

    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
   
    
    
}
.footer div{
    align-items:top;
}
.footer div h3{
    margin: 0 0;
    padding: 0 0;
    display: inline;
    padding-right: 20px;
    color: white;
}
.footer div span{
    width: 92px;
    height: 5px;
    background-color: yellow;
    display: inline-block;
    border-radius: 20px ;
    margin: 0;
}

.footer .ul{
    /* border-style: solid ; */
    padding: 3px;

}
.footer div ul{
    margin: 0 0;
    padding: 0 0;
    display: ;
    /* border: 2px black; */
}
.footer div ul li{
   list-style: none;
   /* display: inline-block; */
   /* border: 2px black; */
}
.footer div ul li .fa-brands{
    color: white;
    padding: 2px;
}
.footer div ul li a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    /* display: inline; */
    color: white;
}

.copyright{
    text-align: center;
    color: black;
    width: 105%;
    padding-bottom: 30px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    /* background-color: rgba(0, 0, 255, 0.178); */
    /* border-top: 2px ;
    border-style: solid white; */
    margin-top: 20px;
    
}
.address{
    width: 70%;
    color: white;
    /* font-size: 15px; */
    text-align: center;
    /* font-family: "Open Sans", sans-serif; */
}
.address h4{
    padding-right: 0;
    display: inline;
    font-size: 20px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    
}

.contact{}
.contact ul {}
.contact ul li{}
.contact ul li .fa-solid {
    color: white;
    padding: 2px;
}
.contact ul li a{
    list-style: none;
    color: white;
    font-family: "Open Sans", sans-serif;

}

